*{
	margin: 0px;
	padding: 0px;
}
:root {
	--cor-fundo: #000;
	--cor-texto: #fff;
	--cor-botao: #009748;
	--cor-fundo2: #222634;

}
header {
	background-color: var(--cor-fundo);
	text-align: center;
	padding: 20px 10px ;
}


#inicio {
	background-color: var(--cor-fundo);
	height: 900px;
}
.container{
	display: grid;
	grid-template-areas: 
	"col-esquerda col-direita" ;
	width: 1440px;
	grid-template-columns: 720px 720px ;
}

.coluna_esquerda {
	color: var(--cor-texto);
	grid-area: col-esquerda;
	height: 900px;
	text-align: center;
}


.titulo {
	font-family: 'Inter';
	font-weight: 900;
	font-size: 28px;
	text-align: center;
}

.botao_combo {
	display: block;
	margin: 10px 60px;
	background-color: var(--cor-botao);
	color: var(--cor-texto);
	text-decoration: none;
	border-radius:  8px;
	padding: 16px;
	font-family: 'Inter';
	font-size: 16px;
}
.botao_dev {
	display: block;
	background: transparent;
	color: var(--cor-texto);
	border: 2px solid #fff;
	text-decoration: none;
	border-radius: 8px;
	padding: 16px;
	margin: 0px 60px;
	font-family: 'Inter';
	font-size: 16px;
}

.bk_quarteto {
	background-image: url('../imagem/bk_quarteto.png');
	background-repeat: no-repeat;
}


#Assista{
	background-color: var(--cor-fundo2);
	height: 900px;
}

.titulo2{
	position: absolute;
	width: 588px;
    height: 58px;
    left: 732px;
    top: 1285px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%
}
.texto{
	text-align: left;
	position: absolute;
    width: 588px;
    height: 48px;
    left: 732px;
    top: 1351px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
.coluna_direita2{
	color: var(--cor-texto);
	grid-area: col-esquerda;
	text-align: center;	
}
.coluna_esquerda2{
	color: var(--cor-texto);
	grid-area: col-esquerda;
	text-align: center;

}

.imagem1{
float: left;
border: transparent solid;
padding: 0px;
margin: 200px 500px 500px 50px;
max-width: 1000px;
}


#Assine {
	background-color: var(--cor-fundo);
	height: 900px;
	padding-top: 200px;
}
.texto2{
    position: absolute;
    width: 573px;
    height: 72px;
    left: 135px;
    top: 2320px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
.Group27{
	box-sizing: border-box;
    position: absolute;
    width: 409.21px;
    height: 212.57px;
    left: 810px;
    top: 2300px;
}
.botao3 {
 display: block;
 padding: 16px; 
 background: var(--cor-botao);
 color: var(--cor-texto);
 border-radius: 8px;
 font-family: Inter;
 font-size: 16px;
 margin: 354px 51px 414px 165px;
 text-decoration: none;
 grid-area: col-esquerda;
 text-align: center;
}

#Baixe {
	background-color: var(--cor-fundo2);
	height: 900px;
}
.titulo3 {
	position: absolute;
    width: 588px;
    height: 58px;
    left: 732px;
    top: 3400px;

    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    font-family: 'Inter';
}
.text3 {
	position: absolute;
    width: 588px;
    height: 48px;
    left: 732px;
    top: 3500px;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--cor-texto);
}
.baixar {
	position: absolute;
    width: 573px;
    height: 343.6px;
    left: 135px;
    top: 3300px;
}

#dispositivos {
	background-color: var(--cor-fundo);
	height: 900px;
}

.texto4 {
	position: absolute;
width: 1002.07px;
height: 57.49px;
left: 209.27px;
top: 4080px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 120%;
text-align: center;
}

.tv1 {
	position: absolute;
width: 344.88px;
height: 190.33px;
left: 135px;
top: 4260.25px;
}

.pc1 {
	position: absolute;
width: 344.88px;
height: 190.33px;
left: 550.07px;
top: 4260.25px;
}

.celular1 {
	position: absolute;
width: 344.88px;
height: 190.33px;
left: 964.12px;
top: 4260.25px;
}

.tv {
	position: absolute;
width: 46.8px;
height: 37.67px;
left: 283.53px;
top: 4500.33px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 120%;
text-align: center; 
}

.pc {
	position: absolute;
width: 238.06px;
height: 37.67px;
left: 602.97px;
top: 4500.33px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 120%;
text-align: center;
}

.celular {
	position: absolute;
width: 297.06px;
height: 37.67px;
left: 988.54px;
top: 4500.33px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 120%;
text-align: center;
}

